.header-background {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}

.blog-header {
  background: rgba(0, 0, 0, .5);
  padding: 0 10px 10px;
  display: inline-block;
  color: #fff;
  border-radius: 6px;
}

.post-content {
  line-height: 25px;
  padding: 0 10px;
  text-align: justify;
}

#login, #error {
  max-width: 330px;
  margin: 100px auto 0;
}

#admin-nav {
  margin: 10px 0;
  white-space: nowrap;
}