html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
	
body{
    margin: 0;
	box-sizing: border-box;
}

#container{
	height: auto;
    min-height: 100%;
    max-width: 100%;
    position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	height: 100%;
	box-sizing: border-box;
}

#admin-nav{
	display:inline-block;
	background: #fff;
	box-sizing: border-box;
}

#admin-nav .dashboard{
	padding: 0 0 0 10px;
	display:block ;
	color: #fff;
	background: #1565c0;
	text-decoration: none;
	font-weight:bold ;
	line-height: 40px;
}

#admin-nav ul{
	list-style-type: none;
	padding:0 ;
	margin:0 ;
}

#admin-nav a{
	white-space: nowrap;
	padding: 0 10px;
	display:block ;
	color: #1a1a1a;
	text-decoration: none;
	font-weight:bold ;
	line-height: 35px;
}

#admin-nav a:hover{
	background: #eee;
}

#admin-area{
	display:inline-block;
	padding: 0 20px;
	width: 100%;
	box-sizing: border-box;
}

input, textarea {
	display: block;
	padding: 5px;
	margin: 5px 0;
	box-sizing: border-box;
}

input{
	min-width: 50%;
}

textarea {
	width: 100%;
}

table, tr, tr:last-child {
	border: 0px solid #ccc;
}

tr {
	display: block;
	padding: 15px;
	border-bottom: 1px solid #ccc;
}
	
tr:hover {
	background-color: #eee;
}